<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
        name="PSDataAccessCore"
        version="1.0"
        description="Basic data access core plugin">
    <oauth></oauth>
    <access_request>
        <field table="messagekeymap" field="languageisocode" access="ViewOnly" />

        <field table="schools" field="high_grade" access="ViewOnly" />
        <field table="schools" field="low_grade" access="ViewOnly" />
        <field table="schools" field="school_number" access="ViewOnly" />

        <field table="sections" field="dcid" access="ViewOnly" />

        <field table="students" field="dcid" access="ViewOnly" />
        <field table="students" field="first_name" access="ViewOnly" />
        <field table="students" field="gender" access="ViewOnly" />
        <field table="students" field="grade_level" access="ViewOnly" />
        <field table="students" field="id" access="ViewOnly" />
        <field table="students" field="last_name" access="ViewOnly" />
        <field table="students" field="lastfirst" access="ViewOnly" />
        <field table="students" field="student_number" access="ViewOnly" />
    </access_request>
    <publisher name="Example Plugin">
        <contact email="plugin@example.com"/>
    </publisher>
</plugin>